<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div class="container-fluid">
		<ul class="navbar-nav mx-auto mb-2 mb-md-0">
			<li class="nav-item"><%= link_to 'Users', admin_users_path, class: 'nav-link' %></li>
			<li class="nav-item"><%= link_to 'Courses', admin_courses_path, class: 'nav-link' %></li>
			<li class="nav-item"><%= link_to 'Questions', admin_questions_path, class: 'nav-link' %></li>
			<li class="nav-item"><%= link_to 'Semesters', admin_semesters_path, class: 'nav-link' %></li>
		</ul>
	</div>
</nav>
