<main class="container public">
	<div class="row w-100 h-100">
		<div class="col-lg-6 p-4">
			<h2>Purpose</h2>
			<p>The purpose of this application is to assess your medical knowledge and see how accurately you can diagnose a patient in a snap judgement scenario. It is often easy to form an opinion from the outside, but correctly diagnosing a patient is the hard part; this is what you will be tested on with this application. </p>
		</div>
		<div class="col-lg-6 p-4">
			<h2>What is Snap Judgement?</h2>
			<p>A snap judgement is a hasty decision or opinion made without thorough contemplation. </p>
			<p>Making a decision based on appearance or surface-level information should be avoided because the situation could be different than expected under further examination.</p>
		</div>
	</div>
	<%# <div class="footer">
		Made by the WEBD-495 Capstone Class (Spring 2022)
	</div> %>
</main>
