<%= render 'admin/subnav' %>
<main class="container admin">
	<div class="row w-100 h-100">
		<h2>Semesters index</h2>

		<ul class="item-list">
			<% @semesters.each do |s| %>
				<li><%= link_to '[ edit ]', edit_admin_semester_path(s.id), class: "edit-link" %> <%= s.name %></li>
			<% end %>
		</ul>
	</div>
</main>
