<main class="container public">
	<div class="row p-3">
		<h2>Franklin University Nursing Program</h2>
		<p>If you are a registered nurse with a desire to expand your role in patient care, Franklin's M.S. in Nursing-Family Nurse Practitioner (MSN-FNP) track is a great option for you. You'll be prepared to work in the primary care setting managing the health of individuals and families. You'll gain the knowledge and clinical skills necessary for the assessment and management of common acute and chronic illnesses, health promotion and disease prevention for individuals throughout their lives. Upon completion of your degree, you will be eligible to apply to sit for the Family Nurse Practitioner certification examinations offered by the American Nurses Credentialing Center (ANCC) or the American Association of Nurse Practitioners (AANP).</p>
	</div>
	<div class="row p-3">
		<a href="https://www.franklin.edu/degrees/bachelors/nursing-rn-bsn" class="btn btn-dark mx-auto btn-cta">Learn more about our program</a>
	</div>
</main>
