/* Colors 
darkBlue: #00274D
lightBlue: #AFC5DB
darkText: #00274D
*/

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: left;
}

.leading {
    display: block;
    width: 100%;
  }
  
.leading-10 { height: 10px;}
.leading-20 { height: 20px;}
.leading-30 { height: 30px;}
.leading-40 { height: 40px;}
.leading-50 { height: 50px;}
.leading-60 { height: 60px;}
.leading-70 { height: 70px;}
.leading-80 { height: 80px;}
.leading-90 { height: 90px;}
.leading-100 { height: 100px;}
  
html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
  
.hidden {
    display: none !important;
}
    
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00274D;
    background-color: rgba(229, 229, 229, 0.5);
}
body.page-home main {
    max-width: 980px;
}
body.page-about main {
    max-width: 768px;
}

main {
    padding-top: 112px;    
}
main.public {
    background: url("COHPA_Blue_10.jpg");
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position-y: center;
    background-position-x: center;
	min-height: calc(100vh - 3.5em);
}

nav.navbar.navbar-dark {
    background-color: #00274D;
    color: #fff;
    text-transform: uppercase;
}

#Image {
    width: 100%;
    min-height: 25vh;
    border-radius: 4px;
    border: 10px solid #fff;
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,.2);
    background: #fff url("dots-loading.gif");
    background-size: 10%;
    background-position-y: 25vh;
    background-position-x: center;
    background-repeat: no-repeat;
}

#Image img {
    width: 100%;
}

button.btn.btn-dark {
    background-color: #00274D;
}

button.btn.btn-primary {
    background-color: #AFC5DB;
}
button.btn-primary:hover {
    background-color: #9eb4cb; 
}

#Options button {
    width: 100%;
    min-height: 3rem;
    border-radius: 1.5rem;
    border: none;
}
button.btn-cta {
    height: 3rem;
    border-radius: 1.5rem;
    width: auto;
    padding: 0px 2rem;
}

button.nav-link {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
}

/* admin */
:root {
	--color-black: hsl(0, 0%, 10%);
	--color-primary: #00274D;
}
nav.admin ul {
	display: flex;
	gap: 2em;
	margin: 0;
	padding: 0;
	list-style: none;
}
nav.admin a {
	color: var(--color-primary);
}
.admin button:disabled {
	opacity: .2;
}

.admin h2 {
	margin-bottom: 0;
}
.admin .course-switch {
	margin: 1em 0;
}
.admin .course-switch select {
	font-family: inherit;
	font-size: 1em;
	margin: 0;
}
.admin .add-link,
.admin .back-link {
	display: inline-block;
	margin: 1em 0;
	color: var(--color-primary);
}
.admin .item-list {
	margin: 1em 0;
	padding: 0;
	list-style: none;
}
.admin .item-list li {
	display: flex;
	gap: .5em;
	margin: .5em 0;
	align-items: center;
}
.admin .item-list.show li {
	align-items: flex-start;
}
.admin .item-list h4 {
	margin: 0;
}
.admin .item-list input {
	font-family: inherit;
	font-size: 1em;
}
.admin .item-list select {
	font-family: inherit;
	font-size: 1em;
}
.admin .item-list input[type="submit"] {
	background-color: var(--color-primary);
	color: #fff;
	font-family: inherit;
	font-size: 1em;
	border: none;
	border-radius: .4em;
	padding: .3em .9em;
	cursor: pointer;
	margin: 1em 0 0;
}
.admin .button_to button {
	display: block;
	font-family: inherit;
	font-size: .8em;
	background: transparent;
	padding: 0;
	margin: 0;
	border: none;
	color: var(--color-primary);
	text-decoration: underline;
	cursor: pointer;
	margin-right: .8em;
}
.admin .edit-link {
	font-size: .8em;
	color: var(--color-primary);
}
.admin .item-link {
	color: var(--color-black);
	max-width: 26em;
}
